.Msg_block {
    border-bottom: 1px solid #979797;
    height: 40px;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-left: 10px;
    align-items: center;
    color: #000;
}

.Msg_nick {
    color: #0236ef;
    font-weight: 700;
}

.Msg_block span {
    margin-right: 5px;
}

.msg_text {
    color: #000;
    font-weight: 600;
}

.msg_time {
    font-size: 13px;
    color: #979797;
}