/* reset */
html, body, div, span, h1, h2, p, a, img, strong, ul, li, button, footer, header {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
}

*, :after, :before {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

a, button, div {
	outline: none;
}

ul {
	list-style: none;
}

img {
	border: none;
}

/* grid */
html, body, .wrap {
	height: 100%;
}

/*~ Endings for win game and lose game */
.Statistic_block, .End_block, .header_stats, .stats, .values {
	display: flex;
	;
}

.Statistic_block {
	/* прописать hidden в тэге */
	justify-content: center;
	margin-left: 100px;
	padding-top: 15px;

}

.End_block {
	position: relative;
	width: 860px;
	height: 325px;
	border: 3px solid #0236EF;
	box-sizing: border-box;
	border-radius: 30px;
	flex-direction: column;
	align-items: center;
}

.header_stats {
	height: 15%;
	align-items: center;
	font-size: 38px;
	color: #000;
	font-weight: 600;
}

.stats {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	font-family: Roboto;

}

.values {
	display: flex;
	flex-direction: column;
	margin-left: 20px;
	font-weight: 600;
	color: #0236ef;
}

.buttons_block {
	display: flex;
	justify-content: space-around;
	margin-top: 30px;
}

.Stat_text {
	margin-top: 5px;
	margin-bottom: 40px;
	font-size: 36px;
}

.name_of_value {
	margin-bottom: 20px;
	font-size: 28px;
}

.stats img {
	margin-right: 20px;

}

.logo_pregame {
	position: absolute;
	width: 240px;
	margin-top: 20px;
	margin-left: 40px;
	/* margin: 0 auto; */
	z-index: 100;
}

.wrap {
	width: 1024px;
	margin: 0 auto;
	padding: 20px 0 0 0;
}

.ship, .icon-field {
	background: url('./media/sprite.png') no-repeat;
}

.ships-collection {
	font-style: italic;
	font-size: 20px;
}

/* typography */
body {
	font: normal 18px SegoePrint;
	line-height: 24px;
	color: #0236EF;
}

p {
	margin-bottom: 10px;
}

/* buttons */
.btn-play {
	width: 130px;
	height: 55px;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	color: #fff;

	background-color: #94a6ea;
	/* background-color: #0236EF; */
	background-position: 0 -150px;
	cursor: pointer;
	border-radius: 15px;
}

.restart-btn, .exit-btn {
	width: 130px;
	height: 55px;
	font-family: 'Roboto';
	font-weight: 700;
	font-size: 28px;
	line-height: 40px;
	color: #fff;

	background-color: #0236EF;
	background-position: 0 -150px;
	cursor: pointer;
	border-radius: 15px;

}

.btn-newgame {
	font-size: 19px;
	margin-top: 10px;
}

/* display */
.flex {
	display: flex;
}

/*** CONTENT ***/

.battlefield {
	width: 860px;
	height: 730px;
	position: relative;
	margin: 0 auto;
	background: url('./media/grid.png') repeat;
	margin-right: 30px;
}

.text-top {
	height: 66px;
	font-family: 'Roboto';
	align-items: center;
	justify-content: center;
	font-size: 30px;
	font-style: italic;
	font-weight: 600;
	margin-bottom: 7px;
}

.service-row {
	text-align: center;
}

.service-text {
	color: #c00;
	padding-top: 10px;
}

.outer {
	margin-bottom: 21px;
	padding-left: 38px;
}

.field {
	width: 366px;
	height: 363px;
	margin-right: 62px;
	flex-shrink: 0;
	position: relative;
	background: url('./media/bg_play_field.png') no-repeat;

}

.figure {
	display: table;
	margin-top: 0;
	margin-left: 0;
	margin-bottom: 0;
	text-align: center;
}

.label {
	margin-top: 10px;
	font-size: 24px;
	display: table-caption;
	caption-side: bottom;
	font-family: 'Roboto';
	font-weight: bold;
}


.ships {
	width: 330px;
	height: 330px;
	position: relative;
	left: 29px;
	top: 27px;
}

.ship {
	height: 35px;
	position: absolute;
}

.vertical {
	transform: rotate(90deg);
	transform-origin: 17.5px 17.5px;
}

.fourdeck {
	width: 134px;
	background-position: 0 0;
}

.fourdeck.success {
	background-position: 0 -50px;
}

.fourdeck.unsuccess {
	background-position: 0 -100px;
}

.tripledeck {
	width: 101px;
	background-position: -150px 0;
}

.tripledeck.success {
	background-position: -150px -50px;
}

.tripledeck.unsuccess {
	background-position: -150px -100px;
}

.doubledeck {
	width: 68px;
	background-position: -270px 0;
}

.doubledeck.success {
	background-position: -270px -50px;
}

.doubledeck.unsuccess {
	background-position: -270px -100px;
}

.singledeck {
	width: 35px;
	background-position: -360px 0;
}

.singledeck.success {
	background-position: -360px -50px;
}

.singledeck.unsuccess {
	background-position: -360px -100px;
}

.instruction {
	margin-left: 26px;
	margin-bottom: -25px;
	-webkit-user-select: none;
	user-select: none;
}

.type-placement-box {
	line-height: 34px;
	padding-bottom: 18px;
}

.type-placement-box .link {
	font-size: 20px;
	border-bottom: dashed 2px #4530af;
	cursor: pointer;
}

.initial-ships li {
	height: 35px;
	position: relative;
	overflow: hidden;
	margin-top: 29px;
	margin-left: 35px;
}

.initial-ships .ship {
	left: 0;
	top: 0;
	float: left;
	cursor: move;
}

.initial-ships .tripledeck1 {
	left: 164px;
}

.initial-ships .tripledeck2 {
	left: 297px;
}

.initial-ships .doubledeck2 {
	left: 99px;
}

.initial-ships .doubledeck3 {
	left: 197px;
}

.initial-ships .singledeck2 {
	left: 65px;
}

.initial-ships .singledeck3 {
	left: 131px;
}

.initial-ships .singledeck4 {
	left: 197px;
}

.icon-field {
	width: 33px;
	height: 33px;
	display: block;
	position: absolute;
	z-index: 5;
}

.dot {
	background-position: -410px 0;
}

.red-cross {
	background-position: -410px -50px;
}

.shaded-cell {
	background-position: -410px -100px;
}

.shaded-cell_red {
	background-position: -410px -140px;
}

.explosion {
	background-position: -150px -150px;
	z-index: 6;
	opacity: 0;
	transform: scale(.2);
}

@keyframes Explosion {
	0% {
		opacity: 0;
		transform: scale(.2);
	}

	50% {
		opacity: 1;
		transform: scale(1);
	}

	100% {
		opacity: 0;
	}
}

.explosion.active {
	animation-name: Explosion;
	animation-duration: 0.4s;
	transform: scale(1);
}